<div class="users">
    <component-layout title="Users" :error="error" :isLoading="isLoading">
        <div v-if="users.length">
            <custom-filter defaultTab="tab-reputation" @updateParentSort="updateCurrentPage"
                @updateParentFilter="updateCurrentFilter" :filters="userFilter" />
            <v-list three-line avatar>
                <v-container>
                    <v-row>
                        <v-col cols="12" md="3" sm="4" v-for="user in users" :key="user.id">
                            <users-list-item :user="user" />
                        </v-col>
                    </v-row>
                </v-container>
            </v-list>
            <v-pagination v-model="currentPage" :length="totalPages"></v-pagination>
        </div>
    </component-layout>
</div>