<div class="users">
    <p class="display-1">Users</p>
    <custom-filter @updateParentFilter="selectFilter" />
    <v-alert v-if="error" type="error">{{error}}</v-alert>
    <v-text-field v-if="isLoading" color="success" loading disabled></v-text-field>
    <div v-if="users">
        <v-list three-line avatar>
            <v-container>
                <v-row>
                    <v-col cols="12" md="3" sm="4" v-for="user in users" :key="user.id">
                        <users-list-item :user="user" />
                    </v-col>
                </v-row>
            </v-container>
        </v-list>
        <v-pagination v-model="currentPage" :length="totalPages"></v-pagination>
    </div>
</div>