<v-app-bar app>
    <v-toolbar-title class="headline text-uppercase">
        <router-link to="/"><span class="font-weight-light margin-5">stack</span>
            <span>overflow</span></router-link>
        <v-btn text>
            <router-link to="/tags">Tags</router-link><span class="nav-divider">|</span>
        </v-btn>
        <v-btn text>
            <router-link to="/questions">Questions</router-link><span class="nav-divider">|</span>
        </v-btn>
        <v-btn text>
            <router-link to="/question/add">Add question</router-link>
        </v-btn>
    </v-toolbar-title>
</v-app-bar>